<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141653317717-3uhdbcir01cp4cg1ifu4l9c66ru90onl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141653317717-3uhdbcir01cp4cg1ifu4l9c66ru90onl</string>
	<key>API_KEY</key>
	<string>AIzaSyAgIwL8Ad0VgG_eYskA5FHZakH4qE7fe4M</string>
	<key>GCM_SENDER_ID</key>
	<string>141653317717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rootstrap.react-native-base.dev</string>
	<key>PROJECT_ID</key>
	<string>rn-firebase-chat-55497</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-firebase-chat-55497.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141653317717:ios:a05698a8d851f2f3575cdc</string>
</dict>
</plist>